<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>DynamicNotch</string>
    <key>CFBundleExecutable</key>
    <string>DynamicNotch</string>
    <key>CFBundleIdentifier</key>
    <string>lol.zxt.dynamicnotch</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleName</key>
    <string>DynamicNotch</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>3.6.3</string>
    <key>CFBundleVersion</key>
    <string>363</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSAppleEventsUsageDescription</key>
    <string>DynamicNotch uses Automation to control supported media apps and read playback state.</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>